/*
Any CSS you want can be written (or compiled to) this file!
*/

body {
  font-family: monospace;
}

h1 {
  color: gray;
  font-size: 3em;
  font-weight: 900
}

a {
  display: block;
  font-size: 1.5em;
}