<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Minimal</title>


  <!-- Link to any CSS. Note we use "url_for" to get a link to static assets. This will create a new HTTP request to download the css files for your page. -->
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

  <div id="content">
    {% block content %}{% endblock %}
  </div>


  <!-- Link to any javascript you want! Similar to the CSS, this creates a separate HTTP request to get any javascript required for your page  -->
  <script src="{{ url_for('static', filename='index.js') }} "></script>
</body>
</html>
